@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@section Scripts{
    <script>

        function print(data) {
            //建立並回傳 Promise物件
            return new Promise((resolve, reject) => {
                setTimeout(() => {
                    resolve(data);
                }, 1000)
            })
        }

        print("A")
            .then(data => {
                console.log(data);
                return print("B");
            })
            .then(data => {
                console.log(data);
                return print("C");
            })
            .then(data => {
                console.log(data);
            })


        //Promise 簡化語法糖：async await
        (async () => { 
                let data = await print("A");
            console.log(data);
                data = await print("B");
            console.log(data);
                data = await print("C");
            console.log(data);
        })();
        
    </script>
}
